.container {
}

.break a {
  display: flex;
  align-items: center;
}

.pageButton {
  transition: all 0.3s ease;
}

.pageButton a {
  /* user-select: none; */
  padding: 0 14px;
  margin: 0 5px;
  font-weight: normal;
  font-weight: 500;
  font-size: 14px;
}

.pageButton a svg {
  margin-top: -1px;
}

.pageButton:not(.active) a {
  color: var(--gray6);
}

.pageButton.active a {
  background: var(--base);
  position: relative;
}
.pageButton.active a::before {
  position: absolute;
  content: "";
  display: flex;
  bottom: 100%;
  left: 0;
  border-right: 18px solid transparent;
  border-left: 18px solid transparent;
  border-top: 0 solid transparent;
  border-bottom: 8px solid var(--base);
}
.pageButton.active a::after {
  position: absolute;
  content: "";
  display: flex;
  top: 100%;
  left: 0;
  border-right: 18px solid transparent;
  border-left: 18px solid transparent;
  border-bottom: 0 solid transparent;
  border-top: 8px solid var(--base);
}

.pageButton.active a:hover {
  color: var(--white);
}
.pageButton:not(.active):hover {
}

.pageButton a:hover {
  text-decoration: none;
  color: var(--base);
}
@media screen and (max-width: 767px) {
  .pageButton a {
    padding: 0 6px;
    font-size: 12px;
    margin: 0 2px;
  }
  .pageButton.active a {
    padding: 0 14px;
  }
}

.tab-list > ul li {
  padding: 5px 8px;
  border: 1px solid #6c757d;
  border-radius: 10px;
  margin-right: 5px;
  cursor: pointer;
}
.tab-list > ul li.active {
  background-color: #6c757d;
  color: #ffffff;
}

.pa0 ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

.pa0 li {
    display: inline-block;
}

.pa0 li.active a {
    color: #ffffff;
}

.pa0 li.next a, .pa0 li.previous a {
    color: #6c757d;
}

